a:hover{
    background-color: rgba(248, 248, 248, 0.767);
    color: black;

}

.text {
    color: rgba(0, 0, 0, 0.753);
}

.post-nome {
    font-size: 1.5rem;
}

p {
    font-size: 1.1rem;
}

/* --------------------------- */
/* Procurar Pessoas */

.imagem-procurar-pessoas {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.imagem-procurar-pessoas img {
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 99%;
    max-width: 6rem;
    max-height: 17rem;
    border-radius: 8px;
}