.color-nav {
	background-color: #F7D358;
}

.back-color{
	background-color: #FBE2A6;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DDD;
}


.button_link a {
    text-decoration: none;
    color: white;
    padding: 0px;
}

.button_link a:hover {
    text-decoration: none;
    background: none;
    padding: 0px;
}

/* ////////////// */

.ajustar-tamanho {
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    padding: 30px;
    flex-basis: 300px;
}

.imagem-login{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem-login img{
    width: 99%;
    height: 99%;
    max-width: 10rem;
    max-height: 20rem;
}

.form-login {
    flex-basis: 450px;
}

.login-card .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    padding: 22px 0px 22px 0px;
}

.login-card .card-footer {
    display: flex;
    justify-content: center;
    padding: 20px;
}