@media(max-width: 800px) {
    body {
        display: grid;
        grid-template-columns: 15% 1fr;
        grid-template-rows: 64px 1fr 35px;
        grid-template-areas: "header header" "sidebar content" "footer footer";
        height: 100vh;
        margin: 0;
        background-color: #FBE2Add6;
    }
    header.header .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.822);
        font-size: 2rem;
        flex-basis: 17%;
        height: 100%;
    }
    header.header .dropdown-largura {
        align-content: center;
        width: 20%;
        margin: 10px;
        height: 100%;
    }


    .logo .ocultar-header {
        display: none;
    }
    .dropdown-button .ocultar-header-adm {
        display: none;
    }
    .nav-list .ocultar-list {
        display: none;
    }
    .body {
        background-color: red;
    }



}

@media(min-width: 801px) {
    body {
        display: grid;
        grid-template-columns: 250px 1fr;
        grid-template-rows: 64px 1fr 35px;
        grid-template-areas: "header header" "sidebar content" "footer footer";
        height: 100vh;
        margin: 0;
        background-color: #FBE2Add6;
    }
    header.header .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.822);
        font-size: 2rem;
        flex-basis: 250px;
        height: 100%;
    }

    header.header .dropdown-largura {
        align-content: center;
        width: 12%;
        margin: 10px;
        height: 100%;
    }

    .body {
        background-color: red;
    }
}

/* body {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: 64px 1fr 35px;
    grid-template-areas: "header header" "sidebar content" "footer footer";
    height: 100vh;
    margin: 0;
    background-color: #FBE2Add6;
} */

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* fixar os elementos */

aside.sidebar .sticky {
    position: sticky;
    /* background-color: pink; */
    /* bottom: 10px; */
}

/* //coloca os elementos pra direita */

.pull-right {
    float: right;
    text-align: center;
}

.logo a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.897);
    padding: 0px;
}

.logo a:hover {
    text-decoration: none;
    color: black;
    background: none;
    padding: 0px;
}

/* 
body.hide-sidebar {
    grid-template-columns: 1fr;
    grid-template-areas: "header" "content" "footer";
} */

header.header {
    grid-area: header;
    display: flex;
    background-color: #F7D358;
    /* justify-content: center; alinhar os itens no meio da tela */
    align-items: center;
    /*  alinhar na vertical */
    z-index: 10;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 4px 0px rgba(0, 0, 0, .14), 0 1px 10px 0px rgba(0, 0, 0, .12);
}

/* header.header .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0, 0, 0, 0.822);
    font-size: 2rem;
    flex-basis: 250px;
    height: 100%;
} */

header.header .menu-toggle {
    color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
}

header.header .spacer {
    flex-grow: 1;
}

header.header .dropdown {
    position: relative;
}

header.header .dropdown-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.822);
    cursor: pointer;
    
}

/* header.header .dropdown-button:hover {
    height: 100%;
} */

/* header.header .dropdown-largura {
    align-content: center;
    width: 20%;
    margin: 10px;
    height: 100%;
} */

.menus-adm-header {
    width: 8%;
    text-align: center;
}

/* link "sair" */

header.header .dropdown-content {
    display: none;
    position: absolute;
    min-width: 100%;
    background-color: #f9f9f9;
    padding: 0 px 0px 15px 0px;
    z-index: 100;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, .2);
}

header.header .dropdown:hover .dropdown-content {
    display: block;
}

header.header .dropdown-content ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0px;
}

header.header .dropdown-content a {
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #222;
    padding: 7px;
    font-size: 1.1rem;
}

header.header .dropdown-content a:hover {
    background-color: rgba(0, 0, 0, .05);
}

header.header .dropdown:hover {
    background-color: rgba(0, 0, 0, .1);
}

header.header .avatar {
    height: 50px;
    border-radius: 80%;
    margin: 10px;
}

aside.sidebar {
    display: block;
    flex-direction: column;
    align-items: center;
    grid-area: sidebar;
    box-shadow: 5px 0px 25px 1px rgba(0, 0, 0, .4);
    background-color: rgb(247, 245, 241);
}

aside.sidebar .menu {
    width: 100%;
    flex-grow: 1;
}

aside.sidebar .menu ul.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

aside.sidebar .menu li.nav-item {
    margin: 0;
    padding: 10px 0px 10px 25px;
}

aside.sidebar .menu a li.nav-item {
    font-size: 1.2rem;
    color: #555;
    text-decoration: none;
}

aside.sidebar .menu li.nav-item:hover {
    background-color: rgba(255, 198, 40, 0.288);
}

/* body.hide-sidebar aside.sidebar {
    display: none;
} */

/* .imagem-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: rgba(240, 154, 25, 0.493);
}

.imagem-perfil img {
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 99%;
    max-width: 10rem;
    max-height: 20rem;
    border-radius: 8px;
} */

aside.sidebar .sidebar-widgets {
    position: sticky;
    /* Faz a barra visível, mesmo descendo (rolando) a tela */
    bottom: 20px;
    align-items: center;
}

aside.sidebar .sidebar-widget {
    display: flex;
    align-items: center;
}

aside.sidebar .sidebar-widget .icon {
    font-size: 3.5rem;
    margin: 2px 10px 2px 0px;
}

aside.sidebar .sidebar-widget .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    /* alinhar a hora */
}

.division {
    widows: 80%;
    border: solid 1px #EEE;
}

aside.sidebar .info .main {
    font-size: 2rem;
}

main.content {
    background-color: #FFF;
    grid-area: content;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.2);
    /* background-color: orange; */
}

main.content .content-title {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #CCC;
}

main.content .content-title .icon {
    font-size: 3rem;
}

/* "Registrar Ponto" */

main.content .content-title h1 {
    color: #444;
    font-size: 1.8rem;
    font-weight: 300;
    margin: 0;
}

/* "Mantenha seu ponto consistente" */

main.content .content-title h2 {
    color: #888;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}

footer.footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
    font-size: 1.2rem;
    background-color: #222;
    color: #FFF;
    grid-area: footer;
}

.record {
    font-size: 2.2rem;
}